@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: hsl(210, 20%, 95%);
  --input-color: hsl(210, 20%, 97%);
  --button-color: hsl(210, 5%, 40%);
  --title-color: hsl(210, 5%, 15%);
  --text-color: hsl(210, 5%, 30%);
  --devide-color: hsl(218, 11%, 85%);
}

html {
  font-size: 16px;
}

html body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'M PLUS 1p', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.dark {
  --bg-color: hsl(210, 20%, 7%);
  --input-color: hsl(210, 20%, 9%);
  --button-color: hsl(210, 15%, 50%);
  --title-color: hsl(210, 15%, 85%);
  --text-color: hsl(210, 15%, 70%);
  --devide-color: hsl(210, 20%, 15%);
}

html body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.shadow-input {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 420px) {
  .hide-on-small {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .DishOrderInput,
  .TextInput {
    width: 360px;
  }
  .DishOrderDisplayWide {
    display: none;
  }
}

@media screen and (min-width: 1601px) {
  .DishOrderInput,
  .TextInput {
    width: 1100px;
  }
  .DishOrderDisplayNarrow {
    display: none;
  }
  .DishOrderDisplayWide {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px) {
  .Grid {
    width: 360px;
  }
}

@media screen and (min-width: 361px) and (max-width: 450px) {
  .Grid {
    width: 100%;
  }
}

@media screen and (min-width: 451px) {
  .Grid {
    width: 450px;
  }
}

@media screen and (min-width: 850px) {
  .responsiveFlex {
    display: flex;
  }
}
